ul, h3, .box {
    background: #111111;
    padding: 10px;
    border-radius: 25px;
}

div.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.flexCol {
    flex-direction: column;
}

img {
    width: 35%;
}